# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.p
./configs/php/*.cpp 

# Precompiled Headers
*.gch
*.pch
labs/app

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod
test.cpp
test.txt
ts
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
.vscode/
webserv
testing/
# Executables
*.exe
*.out
*.app
