# Prerequisites
*.d

labs/myfld/*

test/runner
labs/intern/

ts.txt
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.p
*.mp4
# websites/main/video01.mp4
./configs/php/app 
configs/php/app
# Precompiled Headers
*.gch
*.pch
labs/app
mmm/
*.log
ts.html
otm.cpp 
*.otm
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.zip
uploadtestfile.txt 
uploadtestfile.cpp
.DS_Store
# Fortran module files
*.mod
*.smod
test.cpp
test.txt
ts
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
.vscode/
webserv
testing/
# Executables
*.exe
*.out
*.app
.DS_Store


test*