# Prerequisites
*.d

labs/myfld/*

test/runner
labs/intern/

ts.txt
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.p
./configs/php/app 
configs/php/app
# Precompiled Headers
*.gch
*.pch
labs/app
*.log
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.zip

# Fortran module files
*.mod
*.smod
test.cpp
test.txt
ts
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
.vscode/
webserv
testing/
# Executables
*.exe
*.out
*.app
.DS_Store


test*