 --------------------------------- 
|------geckoformboundary7146466c014571b0d26e7a8db6c75|
 --------------------------------- 

 --------------------------------- 
|f05
Content-Disposition: form-data; name="file"; filename="main.cpp"
Content-Type: application/oc|
 --------------------------------- 

 --------------------------------- 
|tet-stream

/* ************************************************************************** */
/* |
 --------------------------------- 

 --------------------------------- 
|                                                                           */
/*                  |
 --------------------------------- 

 --------------------------------- 
|                                      :::      ::::::::   */
/*   main.cpp                        |
 --------------------------------- 

 --------------------------------- 
|                   :+:      :+:    :+:   */
/*                                                    |
 --------------------------------- 

 --------------------------------- 
|+:+ +:+         +:+     */
/*   By: ochouati <ochouati@student.42.fr>          +#+  +:+       +#+ |
 --------------------------------- 

 --------------------------------- 
|       */
/*                                                +#+#+#+#+#+   +#+           */
/*   C|
 --------------------------------- 

 --------------------------------- 
|reated: 2025/01/25 15:41:59 by ochouati          #+#    #+#             */
/*   Updated: 2025/02/1|
 --------------------------------- 

 --------------------------------- 
|3 13:05:36 by ochouati         ###   ########.fr       */
/*                                      |
 --------------------------------- 

 --------------------------------- 
|                                      */
/* ******************************************************|
 --------------------------------- 

 --------------------------------- 
|******************** */

#include "headers/Webserv.hpp"
#include "headers/header.hpp"
#include |
 --------------------------------- 

 --------------------------------- 
|"headers/debug.hpp"//!
#include "headers/readConfig.hpp"
#include <fstream>
#include <string>
#|
 --------------------------------- 

 --------------------------------- 
|include <cstring>
#include <cstdlib>
#include <cstdio>
#include <unistd.h>
#include <netinet/in|
 --------------------------------- 

 --------------------------------- 
|.h>

void    ll(){ //! DELETE ME
    system("leaks webserv");
}

int server(char *argFile, ch|
 --------------------------------- 

 --------------------------------- 
|ar **env) {
    try {
        readConfig conf;
        conf.readFile(argFile);
        Webserv |
 --------------------------------- 

 --------------------------------- 
|webserv(conf, env);
        webserv.run();
    } catch (const std::exception &e) {
        std::|
 --------------------------------- 

 --------------------------------- 
|cerr << "\033[0;91m ** " << e.what() << "  ** \033[0m" << std::endl;
        return (1);
    }
 |
 --------------------------------- 

 --------------------------------- 
|   return (0);
}

int     main(int ac, char **av, char **env)
{
    atexit(ll); //! -->delete
        if|
 --------------------------------- 

 --------------------------------- 
| (ac != 2) {
                std::cout << "config file require!" << std::endl;
                return (1);
        }
    return (s|
 --------------------------------- 